[Unit]
Description=Raspberry Pi Http Switch
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/raspi-http-switch/main.py

[Install]
WantedBy=multi-user.target